@font-face {
    font-family: 'icones';
    src: url(../font/icones.ttf);
}

html {
    scroll-behavior: smooth;
}

body {
    background: #1D232A;
    font-family: 'Open Sans','icones', sans-serif;
    color: #FFFFFF;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.16);
}

.header-menu i::before {
    content: "\e904";
    font-size: 1.5rem;
}

.header-notification i::before {
    content: "\e906";
    font-size: 1.5rem;
}

.header-logo {
    width: 2.5rem;
}

.navbar {
    display: flex;
    flex-direction: column;
    background-color: #15191C;
    width: 75vw;
    height: 100vh;

    position: absolute;
    left: -100vw;
    transition: 0.45s;
}

.navbar-active {
    left: 0;
    transition: 0.45s;
}

.navbar-logo {
    align-self: center;
    width: 7.375rem;
    padding: 1rem;
}

.navbar-link {
    height: 4rem;
    color: #95999C;
    padding-left: 4rem;
    display: flex;
    align-items: center;
}

.navbar-link-active {
    color: #FFFFFF;
    padding-left: 3.5rem;
    border-left: 0.5rem solid #FFFFFF;
}

.navbar-link::before {
    content: "";
    width: 1.5rem;
    height: 1.5rem;
    font-size: 1.5rem;
    position: absolute;
    left: 1.5rem;
}

.navbar-inicio::before {
    content: "\e902";
}

.navbar-videos::before {
    content: "\e90e";
}

.navbar-picos::before {
    content: "\e909";
}

.navbar-integrantes::before {
    content: "\e903";
}

.navbar-camisas::before {
    content: "\e900";
}

.navbar-pinturas::before {
    content: "\e90a";
}